{% extends "base.html" %}

{% block content %}
    <section class="content-section">
      <div class="container">
        <h1>Projects</h1>
        {% if project_list %}
          {% for project in project_list %}
            <div class="card bg-light mb-3 project-card" style="cursor: pointer;" onclick="window.location='{{ project.get_absolute_url }}';">
              <div class="row text-center no-gutters">
                <div class="col-md-8">
                  <div class="card-body">
                    <h3 class="card-title">{{ project.name }}</h3>
                    <p class="card-text">{{ project.formatted_preview_markdown|safe }}</p>
                  {% if project.tags.all.count > 0 %}
                  {% for tag in project.tags.all %}
                    <div class="tag" style="background-color: #{{ tag.color }}">
                      <p class="individual-tag card-text">{{ tag.name }}</p>
                    </div>
                  {% endfor %}
                  {% endif %}
                  </div>           
                </div>
                {% if project.preview_image_link is not None %}
                <div class="col-md-4">
                  <img src="{{ project.preview_image_link }}" class="card-img">
                </div>
                {% endif %}
              </div>
              
            </div>
          {% endfor %}
        {% else %}
          <div class="alert alert-warning" role="alert">
            <a class="text">Something went wrong. We are unable to show the projects at this time.</a>
          </div>
        {% endif %}
      </div>
    </section>       
{% endblock %}