{% extends "base.html" %}

{% block content %}
    <section class="content-section">
      <div class="container">
        <h1>Projects</h1>

        {% if project_list %}
          {% for project in project_list %}
            <div class="card text-center bg-light mb-3 project-card">
              <div class="row no-gutters">
                <div class="col-md-8">
                  <div class="card-body">
                    <h3 class="card-title">{{ project.name }}</h3>
                    <p class="card-text">{{ project.formatted_preview_markdown|safe }}</p>
                    <a href="{{ project.get_absolute_url }}" class="btn btn-dark">Check it out</a>
                  </div>
                </div>
                <div class="col-md-4">
                  <img src="{{ project.preview_image_link }}" class="card-img">
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="alert alert-warning" role="alert">
            <a class="text">Something went wrong. We are unable to show the projects at this time.</a>
          </div>
        {% endif %}
      </div>
    </section>       
{% endblock %}